<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">
  <menu id="root-menu" label="Openbox 3">
  <menu id="dynamic_menu" label="Dynamic Menu" execute="xdg_menu --format openbox3-pipe --root-menu /etc/xdg/menus/arch-applications.menu" />
  <separator label="UI Settings" />
    <item label="Reconfigure Openbox">
      <action name="Reconfigure" />
    </item>
    <item label="Openbox Configuration Manager">
      <action name="Execute">
        <command>obconf-qt</command>
        <startupnotify><enabled>yes</enabled></startupnotify>
      </action>
    </item>
    <item label="Tint 2 Panel Configurator">
      <action name="Execute">
        <command>tint2conf</command>
        <startupnotify><enabled>yes</enabled></startupnotify>
      </action>
    </item>
  <separator label="Audio/Visual Settings" />
    <item label="Display Resolution and Screen Setup">
      <action name="Execute">
        <command>lxrandr</command>
        <startupnotify><enabled>yes</enabled></startupnotify>
      </action>
    </item>
    <item label="Pulseaudio Sound Menu">
      <action name="Execute">
        <command>pavucontrol-qt</command>
        <startupnotify><enabled>yes</enabled></startupnotify>
      </action>
    </item>
  <separator label="System Controls" />
    <item label="Poweroff">
      <action name="Execute">
        <command>poweroff</command>
        <startupnotify><enabled>yes</enabled></startupnotify>
      </action>
    </item>
    <item label="Reboot">
      <action name="Execute">
        <command>reboot</command>
        <startupnotify><enabled>yes</enabled></startupnotify>
      </action>
    </item>
  </menu>
</openbox_menu>

